<p id="notice"><%= notice %></p>

<h1>Customer Preferences</h1>

<table>
  <thead>
    <tr>
      <th>Age</th>
      <th>Species</th>
      <th>Breed</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @customer_preferences.each do |customer_preference| %>
      <tr>
        <td><%= customer_preference.age %></td>
        <td><%= customer_preference.species %></td>
        <td><%= customer_preference.breed %></td>
        <td><%= link_to 'Show', customer_preference %></td>
        <td><%= link_to 'Edit', edit_customer_preference_path(customer_preference) %></td>
        <td><%= link_to 'Destroy', customer_preference, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Customer Preference', new_customer_preference_path %>
