<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @pet.id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @pet.name %>
</p>

<p>
  <strong>Available from:</strong>
  <%= @pet.available_from %>
</p>

<p>
  <strong>Age:</strong>
  <%= @pet.age %>
</p>

<p>
  <strong>Species:</strong>
  <%= @pet.species %>
</p>

<p>
  <strong>Breed:</strong>
  <%= @pet.breed %>
</p>

<%= link_to 'Edit', edit_pet_path(@pet) %> |
<%= link_to 'Back', pets_path %>
