<p id="notice"><%= notice %></p>

<p>
  <strong>Customer:</strong>
  <%= @adoption.customer %>
</p>

<p>
  <strong>Pet:</strong>
  <%= @adoption.pet %>
</p>

<%= link_to 'Edit', edit_adoption_path(@adoption) %> |
<%= link_to 'Back', adoptions_path %>
