<head>
  <%= javascript_pack_tag 'customer_vue' %>
</head>

<%= content_tag :div,
  id: "customer-form",
  data: {
    id: customer.id,
    customer: customer.to_json(except: [:created_at, :updated_at]),
    preference_attributes: customer.preference.to_json(except: [:customer_id, :created_at, :updated_at])
  } do %>

  <div class="container-fluid">

    <h3>ID</h3>
    <input type="number" class="form-control" id="customer_id" v-model="customer.id" placeholder="Enter Customer ID (Integer)">

    <h3>Preference</h3>

    <div class="form-group">
      <label>Age Range</label>
      <select class="form-control" id="age" v-model="customer.preference_attributes.age">
        <%= options_for_select([['any', nil]]) %>
        <% @allowed_age_range.each do |age_range| %>
          <%= options_for_select([age_range]) %>
        <% end %>
      </select>
    </div>

    <div class="form-group">
      <label>Species</label>
      <div id="species">
        <% @allowed_species.each do |species| %>
          <input class="form-check-input" type="checkbox" id=<%= species %> value=<%= species %> v-model="customer.preference_attributes.species">
          <label class="form-check-label" for=<%= species %>><%= species %></label>
        <% end %>
      </div>
    </div>

    <div class="form-group">
      <label>Breed</label>
      <div id="breed">
        <% @allowed_breed.each do |breed| %>
          <input class="form-check-input" type="checkbox" id=<%= breed %> value=<%= breed %> v-model="customer.preference_attributes.breed">
          <label class="form-check-label" for=<%= breed %>><%= breed %></label>
        <% end %>
      </div>
      <small id="breedHelp" class="form-text text-muted">Select a list of breeds only if you accept dogs.</small>
    </div>

    <button v-on:click="save" class="btn-primary">Save</button>

    <h3>Adopted Pets</h3>
    <% customer.adoptions.each do |adoption| %>
      <li><%= adoption.pet.id %></li>
    <% end %>

    <br />
    <label>Add New Adoption</label>
    <input type="number" class="form-control" id="pet_id" v-model="pet_id_to_adopt" placeholder="Enter Pet ID (Integer)">
    <br />
    <button v-on:click="adopt" class="btn-primary">Adopt</button>
  </div>
<% end %>
