<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @customer.id %>
</p>

<p>
  <strong>Preference:</strong>
  <%= @customer.preference %>
</p>

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
